@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: Outfit !important;
}

body {
    background-color: #0C0A09;
    color: white;
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #292524;
    height: auto;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 30px !important;
}

.error button {
    padding: 10px;
    border-radius: 6px;
    background-color: #5c4f4c;
    /* Delete white outline */
    border: 0px;
    color: white;
    margin-top: 5px;
}
