@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: Manrope !important;
}

body {
    background-color: #0C0A09;
    color: white;
}

#choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #292524;
    height: 200px;
    width: 300px;
    margin: auto;
    border-radius: 30px;
}


.title-bar {
    background-color: #292524;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
    width: auto;
    /* height: 100px; */
}

#choice label {
    margin-top: 20px;
    font-weight: bold;
}

#choice button {
    padding: 10px;
    border-radius: 6px;
    background-color: #5c4f4c;
    /* Delete white outline */
    border: 0px;
    color: white;
    margin-top: 5px;
}

#chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #292524;
    height: auto;
    width: 750px;
    margin: auto;
    border-radius: 30px;
}

#chat-form label {
    margin-top: 20px;
    font-weight: bold;
}

#chat-form textarea[id="userInput"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #292524;
    color: white;
    font-size: 12px;
}

#chat-form input[type="submit"] {
    width: 20%;
    padding: 10px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #292524;
    color: white;
}

.chat-history {
    position: relative;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #292524;
    color: white;
    z-index: 0;
    padding: 10px;
    max-height: 80vh; 
    overflow-y: auto;
    padding-bottom: 100px; 
    margin: 20px;
    width: 75%;
}

.ai-message {
    background-color: #5c4f4c;
    padding: 10px;
    border-radius: 15px 15px 15px 0;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    max-width: 70%;
    clear: both;
    color: white;
}

.user-message {
    background-color: #5c4f4c;
    padding: 10px;
    border-radius: 15px 15px 0 15px;
    margin-bottom: 10px;
    text-align: right;
    max-width: 70%;
    float: right;
    clear: both;
    color: white;
}

.ai-message::before {
    content: "Ai: ";
    font-weight: bold;
    text-align: left;
}

.user-message::before {
    content: "User: ";
    font-weight: bold;
    text-align: right;
}

#footertop {
    position: fixed;
    top: 10px;
    right: 30px;
    text-align: right;
    font-size: 14px;
    background-color: #443a37;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    z-index: 10; 
}

#footertop a {
    color: #00ffea;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#footertop a:hover {
    color: #00c0b0;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.notifications {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
    /* border: 1px solid #d15f6b; */
    border-radius: 5px;
}

.notification {
    background-color: #3f3a39;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 5px solid #d15f6b;
}
/* Media query for mobile devices */
@media (max-width: 600px) {
    #footertop {
        position: static;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .notifications {
        top: 10px;
        width: 90%;
    }
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.copy-button img {
    width: 16px;
    height: 16px;
}
.popup {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#modelsForm {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#status-button {
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

#model-status {
    margin-top: 20px;
}

#model-status-list {
    list-style-type: none;
    padding: 0;
}

#model-status-list li {
    margin: 5px 0;
}

.status-link-container {
    font-size: 0.6em; /* Smaller font size relative to the title */
    margin-left: 10px;
    vertical-align: middle;
}

.status-link {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}


.status-link:hover {
    color: #00c0b0; 
    text-decoration: underline;
}

@media (max-width: 768px) {
    #chat-form {
        width: 100%;
    }

    .chat-history {
        width: 75%;
    }

    footer {
        width: 100%;
    }
}

#model-status-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    color: white;
    font-family: Outfit, sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#model-status-table th, #model-status-table td {
    padding: 12px 20px;
    text-align: left;
}

#model-status-table th {
    background-color: #443a37;
    color: #00ffea;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

#model-status-table tr:nth-child(even) {
    background-color: #292524;
}

#model-status-table tr:nth-child(odd) {
    background-color: #0C0A09;
}

#model-status-table td {
    background-color: #292524;
    color: #f0e8e6;
    border-bottom: 1px solid #5c4f4c;
}

#model-status-table td span {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
}

#model-status-table td span:before {
    content: '• ';
    font-weight: bold;
}

#model-status-table td span.status-ok {
    color: #00c851;
}

#model-status-table td span.status-error {
    color: #ff4444;
}

#model-status-table td.status-checking span {
    color: #ffbb33;
}

#model-status-table th:first-child, 
#model-status-table td:first-child {
    padding-left: 30px;
}

#model-status-table th:last-child, 
#model-status-table td:last-child {
    padding-right: 30px;
}


button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #443a37;
    color: #00ffea;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #00ffea;
    color: #443a37;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

button:active {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}